{% extends 'template.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ formation.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_index') }}"><button type="button" class="btn btn-outline-warning">Retour à la liste</button></a>

    <a href="{{ path('formation_edit', {'id': formation.id}) }}"><button class="btn btn-outline-warning">Modifier</button></a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
