{% extends 'template.html.twig' %}

{% block title %}Seance index{% endblock %}

{% block body %}
    <h1>Seance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>DateseanceAt</th>
                <th>Enseignant</th>
                <th>Candidat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seance in seances %}
            <tr>
                <td>{{ seance.id }}</td>
                <td>{{ seance.title }}</td>
                <td>{{ seance.dateseanceAt ? seance.dateseanceAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ seance.enseignant }}</td>
                <td>{{ seance.candidat }}</td>
                <td>
                    <a href="{{ path('seance_show', {'id': seance.id}) }}">show</a>
                    <a href="{{ path('seance_edit', {'id': seance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('seance_new') }}">Create new</a>
{% endblock %}
