{% extends 'template.html.twig' %}

{% block title %}Seance{% endblock %}

{% block body %}
    <h1>Seance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seance.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ seance.title }}</td>
            </tr>
            <tr>
                <th>DateseanceAt</th>
                <td>{{ seance.dateseanceAt ? seance.dateseanceAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Enseignant</th>
                <td>{{ seance.enseignant }}</td>
            </tr>
            <tr>
                <th>Candidat</th>
                <td>{{ seance.candidat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('seance_index') }}">back to list</a>

    <a href="{{ path('seance_edit', {'id': seance.id}) }}">edit</a>

    {{ include('seance/_delete_form.html.twig') }}
{% endblock %}
