{% extends 'template.html.twig' %}

{% block title %}Publication index{% endblock %}

{% block body %}
    <h1>Listes des événements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date de publication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
                <td>{{ publication.id }}</td>
                <td>{{ publication.titre }}</td>
                <td>{{ publication.description }}</td>
                <td>{{ publication.DatePublicationAt ? publication.DatePublicationAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('publication_show', {'id': publication.id}) }}">show</a>
                    <a href="{{ path('publication_edit', {'id': publication.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement trouvé</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('publication_new') }}">Crée une événement</a>
{% endblock %}
